In [1]:
import os
import numpy as np
import pandas as pd

In [34]:
PATH_to_data = '/home/greg/studying/spark/ml-100k/'
PATH_to_results = '/home/greg/studying/spark/proj/results/'

In [3]:
lst_files = os.listdir(PATH_to_data)
print(lst_files)

['u2.base', 'ua.base', 'u1.test', 'u4.test', 'u3.base', 'ub.base', 'u5.base', 'u1.base', 'u.data', 'u4.base', 'u2.test', 'u.info', 'ua.test', 'u5.test', 'README', 'u.genre', 'mku.sh', 'u.user', 'allbut.pl', 'u.item', 'ub.test', 'u.occupation', 'u3.test']

In [4]:
PATH_to_file = PATH_to_data + 'u.data'

In [5]:
data = pd.read_csv(PATH_to_file, sep='\t', header=None)

In [6]:
data.columns = ['user_id', 'item_id', 'rating', 'timestamp']

In [7]:
data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   item_id    100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [9]:
hist_all = data.rating.value_counts().sort_index()
hist_all

1     6110
2    11370
3    27145
4    34174
5    21201
Name: rating, dtype: int64

In [30]:
hist_all_list = data.rating.value_counts().sort_index().tolist()
hist_all_str = ','.join([str(i) for i in hist_all_list])
hist_all_str

'6110,11370,27145,34174,21201'

In [11]:
data_22 = data[data.item_id == 22]

In [12]:
hist_film = data_22.rating.value_counts().sort_index()
hist_film

1      5
2     14
3     46
4     98
5    134
Name: rating, dtype: int64

In [29]:
hist_film_list = data_22.rating.value_counts().sort_index().tolist()
hist_film_str = ','.join([str(i) for i in hist_film_list])
hist_film_str

'5,14,46,98,134'

In [21]:
# {"hist_film":[11,22,33,44,55],"hist_all":[134,123,782,356,148]}

In [32]:
out_json = '{"hist_film":[' + hist_film_str + '],"hist_all":[' + hist_all_str + ']}'
out_json

'{"hist_film":[5,14,46,98,134],"hist_all":[6110,11370,27145,34174,21201]}'

In [35]:
json_file = open(PATH_to_results + 'lab01.json', "w")
json_file.write(out_json)
json_file.close()